@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=PT+Sans+Narrow:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.shape {
  position: relative;
  overflow: hidden;
  height: 100px;
}
.shape::before {
  border-radius: 100%;
  position: absolute;
  background: #ff73b5;
  right: -150px;
  left: -150px;
  bottom: -200px;
  content: "";
  top: 0;
}
